# Ignore compiled JavaScript files
/dist/

# Ignore node_modules directory
node_modules/

# Ignore any npm logs
npm-debug.log*

# Ignore any IDE or editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
